/* FONTS */

/* Variables */
:root {
  --body-bg: rgb(141, 73, 175);
  --body-font: "Open Sans", "Arial" sans-serif;
  --white-text: #ffffff;
  --btn-lightBlue: #4f86f6;
  --btn-yellow: #d7fd52;
  --btn-red: #eb5850;
  --btn-darkBlue: #204cf6;
  --btn-green: #75fb7c;
  --btn-bodyBg: #8e49af;
  --btn-active: rgb(76, 144, 258);
}

/*Main Styles*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.study {
  width: 100%;
  height: 100vh;
  background-color: var(--body-bg);
}

.study__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.study__title {
  margin: 0;
  margin-top: 250px;
  flex: 1;
  text-transform: uppercase;
  color: var(--white-text);
  font-size: 120px;
  font-weight: 300;
}
.study__list {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.study__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: transparent;
  position: relative;
}

.study__item--active {
  color: var(--white-text);
}
.study__text {
  position: absolute;
  top: -80px;
  font-size: 30px;
  text-transform: uppercase;
}
.study__btn {
  width: 140px;
  height: 128px;
  border-radius: 12px;
  border: none;
  font-size: 84px;
  color: var(--white-text);
  box-shadow: 0px 0px 5px 5px rgb(0 0 0 / 10%);
}
.study__btn:focus {
  box-shadow: inset 0 0 0px 5px var(--btn-active);
}

.lightBlue {
  background-color: var(--btn-lightBlue);
}
.yellow {
  background-color: var(--btn-yellow);
}
.red {
  background-color: var(--btn-red);
}
.darkBlue {
  background-color: var(--btn-darkBlue);
}
.green {
  background-color: var(--btn-green);
}
.bodyBg {
  background-color: var(--btn-bodyBg);
}
